<% if @publisher.errors.any? %>
  <ul>
    <%= @publisher.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for ([:admin,@publisher]) do |form| %>
  <%= form.label :name, '名稱' %>
  <%= form.text_field :name %>
<br>
  <%= form.label :tel, '電話' %>
  <%= form.number_field :tel %>
<br>
  <%= form.label :address, '地址' %>
  <%= form.text_field :address %>
<br>
  <%= form.label :note, '說明' %>
  <%= form.text_field :note %>
<br>
  <%= form.label :online, 'Online' %>
  <%= form.check_box :online %>
<br>
  <%= form.submit %>
<% end %>